<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <!--sql-->
    <!--<add name="TridentEntities" connectionString="metadata=res://*/Trident.csdl|res://*/Trident.ssdl|res://*/Trident.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.111.211\tebcssdev;initial catalog=Trident;persist security info=True;user id=sa;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--azure-->
    <add name="TridentEntities" connectionString="metadata=res://*/Trident.csdl|res://*/Trident.ssdl|res://*/Trident.msl;provider=System.Data.SqlClient;provider connection string='data source=tcp:tridenthr.database.windows.net,1433;initial catalog=TridentAzure;persist security info=False;user id=TridentAdm;password=Tr1dentAdm1n;MultipleActiveResultSets=False;App=EntityFramework'" providerName="System.Data.EntityClient" />


  </connectionStrings>


  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />


    <!-- mail postavke za prijavu kvara -->
    <add key="ErrorMailFrom" value="toonice.badleg@gmail.com"/>
    <add key="ErrorMailTo" value="predrag.zlonoga@ka.t-com.hr"/>
    <add key="ErrorMailSubjectPrefix" value="[FISH] "/>
    <add key="ErrorMailSmtpServerIp" value="roaming.t-com.hr" />
    <add key="ErrorMailSmtpServerLogin" value="zvolovic" />
    <add key="ErrorMailSmtpServerPassword" value="jennifer" />

    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>